* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
/* **************************************************** */
.top-section {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.main-header * {
  text-decoration: none;
}
.top-section .Subscribe:hover {
  text-decoration: underline;
}
.top-section .logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  font-weight: 700;
}

.top-section .logo {
  text-decoration: none;
}
.dim {
  color: #6c757d !important;
}
.scrollable-menu * {
  text-decoration: none;
}
.nav-bar-scroll {
  position: relative;
  z-index: 2;
  height: 2.25rem;
  overflow-y: hidden;
}
.nav-bar-scroll .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.jumbotron {
  background-color: #343a40;
}
.landing .main-title {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
}
nav.nav a:hover {
  text-decoration: underline;
}
.landing .lead a {
  text-decoration: none;
}
.landing .lead a:hover {
  text-decoration: underline;
}
/* ***************************************************** */
.Blog-Content {
  margin-top: 33px;
}
.Blog-Content .card-body a {
  text-decoration: none;
}
.Blog-Content .card-body a:hover {
  text-decoration: underline;
}
.Blog-Content .card-body h3 a {
  font-weight: 700;
}
/* ********************************************* */
.Blog-Post-main .blog-post:nth-child(1) h2 {
  font-size: 40px;
}
.Blog-Post-main a {
  text-decoration: none;
}
.Blog-Post-main a:hover {
  text-decoration: underline;
}
.Blog-Post-main .blog-post {
  margin-bottom: 4rem;
}
.Blog-Post-main .blog-post:nth-child(3) h2.blog-post-title,
.Blog-Post-main .blog-post:nth-child(4) h2.blog-post-title {
  font-size: 40px;
  font-weight: 600;
}
.Blog-Post-main .blog-post:nth-child(3) .blog-post-meta,
.Blog-Post-main .blog-post:nth-child(4) .blog-post-meta {
  color: #a69999;
}
.Blog-Post-main .blog-pagination a {
  border-radius: 25px !important;
}
.Blog-Post-main .blog-pagination a:nth-child(1) {
  text-decoration: none;
}
.Blog-Post-main .blog-sidebar h4 {
  font-style: italic;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}
/* *************************************************** */
.blog-footer {
  margin-top: 63px;
  padding: 2.5rem 0;
  border-top: 0.05rem solid #e5e5e5;
  background-color: #f9f9f9;
  text-align: center;
  color: #999;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
/* ***************************** */

@media (min-width: 768px) {
  .landing .main-title {
    font-size: 3.13rem;
  }
  .Blog-Content .Thumbnail {
    display: block !important;
  }
  .Blog-Content .card {
    flex-direction: column !important;
  }
  .Blog-Content .Thumbnail svg {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .Blog-Content .card {
    flex-direction: row !important;
  }
  .Blog-Content .Thumbnail svg {
    width: 200px;
  }
}

@media (max-width: 650px) {
}
@media (max-width: 400px) {
}
